        <ul>
            <li> <a href="/yacon/nexus/control_panel/">Pages</a> </li>
            <li> <a href="/yacon/nexus/config_panel/">Settings</a> </li>
            <li> <a href="/yacon/nexus/users_panel/">Users</a> </li>
            <li> <a href="/yacon/nexus/uploads_panel/">Uploads</a> </li>
            {% if admin_enabled %}
            <li> <a href="/admin/">Admin</a> </li>
            {% endif %}
            {% if settings.YACON_EXTRA_ADMIN_NAV %}
                {% for tuple in settings.YACON_EXTRA_ADMIN_NAV %}
                    <li> <a href="{{tuple.0}}">{{tuple.1}}</a> </li>
                {% endfor %}
            {% endif %}
        </ul>
