    <!-- dynatree -->
    <link type="text/css" rel="stylesheet" 
        href="/static/js/skin/ui.dynatree.css" />	
    <script type="text/JavaScript" src="/static/js/jquery.cookie.js">
    </script>
    <script type="text/JavaScript" src="/static/js/jquery.dynatree.min.js">
    </script>

    <!-- select box -->
    <script type="text/JavaScript" 
        src="/static/js/jquery-ui-selectbox-widget.min.js">
    </script>

    <!-- tab nav -->
    <script type="text/JavaScript" src="/static/js/jquery-tab-nav.js">
    </script>
    <link type="text/css" rel="stylesheet" 
        href="/static/css/jquery-tab-nav.css" />	
