/* nexus.css

Stye sheet for Nexus admin area in the Yacon project
*/

body {
    font-family: “Times New Roman”, Times, serif;
    font-size: 12pt;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

#container {
    height: 100%;
    width: 100%;
    position:absolute;
}

#menu {
    height: 50px;
    width: 100px;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 1;
}
#menu ul {
    list-style-type:none; 
    position:inside; 
    padding:0; 
    margin:0;
}

#menu a {
    color: #000;
}

#navbar {
    height: 50px;
    width: 100%;
}
#content {
    height: 600px;
}

/* One-Column View */
.inside {
    height:100%;
    padding-left: 6px;
}

/* Two-Column Views */
.right, .left {
    height:100%;
    float: left;
}
.left {
    min-width: 24%;
    padding-right: 1%;
}
.right {
    min-width: 50%;
}

#node_container {
    padding-left: 6px;
}

.toolbar {
    padding: 4px;
    height: 28px;
    font-size: 8pt;
}

#tree_container {
    height: 100%;
}

#site_sidebar {
    float: right;
}

#site_select_wrapper {
    font-size: 9pt;
    float: left;
}

.dialog_form_table th {
    padding: 10px 10px 5px 5px;
    vertical-align: middle;
}

#page_tree_container {
    height: 70%;
}
#tree {
}
#menu_tree_container {
    height: 30%;
}

.halfspace {
    height: 10px;
}

/* jQuery UI Overrides */

/*
.ui-button.ui-widget .ui-button-text {
    font-size: x-small !important;
}
*/
