/* nexus.css

Stye sheet for Nexus admin area in the Yacon project
*/

body {
    font-family: “Times New Roman”, Times, serif;
    font-size: 12pt;
}

/* Two-Column Views */
.right, .left {
    overflow: auto;
    height: 100%;
    float: left;
}
.left {
    min-width: 24%;
    padding-right: 1%;
}
.right {
    min-width: 50%;
}

#node_container {
    padding-left: 6px;
}

#toolbar {
    padding: 4px;
    min-height: 28px;
    font-size: 8pt;
}

#site_toolbar {
    float: right;
}

#site_select_wrapper {
    font-size: 9pt;
    float: left;
}

.dialog_form_table th {
    padding: 10px 10px 5px 5px;
    vertical-align: middle;
}

.halfspace {
    height: 10px;
}

/* jQuery UI Overrides */

/*
.ui-button.ui-widget .ui-button-text {
    font-size: x-small !important;
}
*/
