{% extends "admin/admin_base.html" %}

{% block body %}
<h1> Page Info for: {{page.title}} </h1>

<table>
    <tr>
        <th>Title</th>
        <td>{{page.title}}</td>
    </tr>
    <tr>
        <th>Slug</th>
        <td>{{page.slug}}</td>
    </tr>
    <tr>
        <th>Node ID</th>
        <td>{{page.node.id}}</td>
    </tr>
    <tr>
        <th>Page Type</th>
        <td>{{page.pagetype.name}}</td>
    </tr>
    <tr>
        <th>Template</th>
        <td>{{page.pagetype.template}}</td>
    </tr>
</table>

<h2>Blocks</h2>

{% for key, value in blocks.items %}
    <h3>{{key}}</h3>
    {% for block in value %}
        <table>
            <tr>
                <th>ID</th>
                <td>{{block.id}}</td>
            </tr>
            <tr>
                <th>Specifier Name</th>
                <td>{{block.specifier.name}}</td>
            </tr>
            <tr>
                <th>Content Handler</th>
                <td>{{block.specifier.content_handler}}</td>
            </tr>
            <tr>
                <th>Content Handler Parameters</th>
                <td>{{block.specifier.content_handler_parms}}</td>
            </tr>
            <tr>
                <th>Block Parameters</th>
                <td>{{block.parameters}}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{block.content}}</td>
            </tr>
        </table>
    {% endfor %}
{% endfor %}

{% endblock body %}
