#home_container {
    float:left;
    width:100%;
    font-family:Tahoma, Geneva, sans-serif; 
}

#welcome {
    margin-left:10px;
    padding-top:5px;
    padding-right:5px;
}
#welcome h1 {
    font-size:26px; 
    font-weight:bold;
    color:#FF8000;
}
#welcome p {
    font-size: 18px;
}
