<div class="node" id="{{page.id}}">
    <h2> MetaPage{% if default_page %}: {{default_page.title}}{% endif %} 
    (id={{metapage.id}})
    </h2>

    <ul>
        <li>
            MetaPage Alias ID:
            {% if metapage.alias %}
                {{metapage.alias.id}} 
                <a onclick="choose_item('metapage:' + {{metapage.alias.id}})"
                    href="javascript:void(0);">(info)</a>
            {% else %}
                <i>Not an alias</i>
            {% endif %}
        </li>
        <li>
            Created: {{metapage.created}}
        </li>
        <li>
            Last Updated: {{metapage.updated}}
        </li>
        <li>
            Node ID: {{metapage.node.id}}
        </li>
        <li>
            Page Type: {{metapage.page_type.name}}
        </li>
        <li>
            Template: {{metapage.page_type.template}}
        </li>
    </ul>

    <h3>Contents</h3>

    <ul>
        {% if default_page %}
            <li> 
                "{{default_page.title}}" ({{default_page.language.code}})
                <a href="{{default_page.uri}}">(view)</a>
            </li>
            <ul>
                <li>
                    Slug: {{default_page.slug}}
                </li>
                <li>
                    Created: {{default_page.created}}
                </li>
                <li>
                    Last Updated: {{default_page.updated}}
                </li>
                {% if default_page.all_blocks %}
                <li>
                    Blocks:
                </li>
                <ul>
                    {% for block in default_page.all_blocks %}
                        <li>
                            ID / Key: 
                            {{block.id}} / {{block.block_type.key}}
                        </li>
                        <ul>
                            <li>
                                Specifier Name:
                                {{block.block_type.name}}
                            </li>
                            <li>
                                Content Handler:
                                {{block.block_type.content_handler}}
                            </li>
                            <li>
                                Content Handler Parameters:
                                {{block.block_type.content_handler_parms}}
                            </li>
                            <li>
                                Block Parameters:
                                {{block.parameters}}
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
                {% endif %}
            </ul>
        {% else %}
            <li> 
                <i>No Default Translation 
                    ({{metapage.node.site.default_language.code}})</i>
            </li>
        {% endif %}
        {% for page in translated_pages %}
            <li>
                "{{page.title}}" ({{page.language.code}})
                <a href="{{page.uri}}">(view)</a>
            </li>
            <ul>
                <li>
                    Slug
                    <td>{{page.slug}}</td>
                </li>
                <li>
                    Created: {{page.created}}
                </li>
                <li>
                    Last Updated: {{page.updated}}
                </li>
                {% if page.all_blocks %}
                <li>
                    Blocks:
                </li>
                <ul>
                    {% for block in page.all_blocks %}
                        <li>
                            ID / Key: 
                            {{block.id}} / {{block.block_type.key}}
                        </li>
                        <ul>
                            <li>
                                Specifier Name:
                                {{block.block_type.name}}
                            </li>
                            <li>
                                Content Handler:
                                {{block.block_type.content_handler}}
                            </li>
                            <li>
                                Content Handler Parameters:
                                {{block.block_type.content_handler_parms}}
                            </li>
                            <li>
                                Block Parameters:
                                {{block.parameters}}
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
                {% endif %}

            </ul>
        {% empty %}
        {% endfor %}
    </ul>
</div>
