<div class="node" id="{{site.id}}">
    <h2> Site Info for: {{site.name}} </h2>

    <ul>
        <li>
            URL: {{url}}
        </li>
        <li>
            Default Language: {{site.default_language.name}}
                ({{site.default_language.code}})
        </li>
        {% for lang in alternate_languages %}
            {% if forloop.first %}
            <li>
                Alternate Languages:
            </li>
            <ul>
            {% endif %}
                <li>
                    {{lang.name}} ({{lang.code}})
                </li>
            {% if forloop.last %}
            <ul>
            {% endif %}
        {% empty %}
        {% endfor %}

        {% if alternate_languages %}
        {% endif %}
    </ul>
</div>
