{% extends "nexus/nexus_base.html" %}

{% block scripts %}
    {{ block.super }}
    <script src="/static/js/uploads/fileuploader.js" ></script>            

    <script type="text/JavaScript">
        $(document).ready(function(){
            $('#navbar').tabnav('select', 3);

            var uploader = new qq.FileUploader({
                action: "/yacon/nexus/upload_file/",
                element: $('#file-uploader')[0],
                multiple: true,
                params: {
                    'foo':true
                },
              }) ;
        });

    </script>
{% endblock scripts %}

{% block css %}
    {{ block.super }}

    <link href="/static/js/uploads/fileuploader.css" media="screen" 
        rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}
<div class="inside">
    <div id="file-uploader">       
        <noscript>          
            <p>Please enable JavaScript to use file uploader.</p>
        </noscript>         
    </div>
</div>
{% endblock content %}
