{% extends "nexus/nexus_base.html" %}

{% block headers %}
    <link href="/static/nexus.css" type="text/css" rel="stylesheet"/>

    <script type="text/JavaScript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">
    </script>
    <script type="text/JavaScript">
        $(document).ready(function(){
            $("a.obj_info").click(function(){
                /* unselect any links currently selected */
                $("a.obj_info").removeClass("selected");

                /* select this link */
                $(this).addClass("selected");
                $("div#obj_info").load($(this).attr("href"));
                return false;
            });
        });
    </script>
{% endblock headers %}

{% block body %}
<div class="left">
{{tree|safe}}
</div>
<div class="right">
    <div id="obj_info">
    </div>
</div>

{% endblock body %}
