{% extends "nexus/nexus_base.html" %}

{% block scripts %}
    <script type="text/JavaScript" src="/static/js/control_panel.js">
    </script>
{% endblock scripts %}

{% block content %}
<div class="left">
    <form>
        <label>Site:</label>&nbsp;
        <select id="site_select">
        </select>
    </form>
    <br/>
    <div id="tree">
    </div>
</div>
<div class="right">
    <div id="folder_actions">
        <a href="#" onclick="$('#add_folder_dialog').dialog('open')" >
            Add Child Folder</a>&nbsp;
        <a href="#" >Add Child Page</a>&nbsp;
        <a onclick="remove_folder_warn()" href="javascript:void(0);">
            Remove Folder</a>&nbsp;
    </div>
    <div id="metapage_actions">
        <a href="#" >Remove Page</a>&nbsp;
    </div>
    <div id="node_container">
    </div>
</div>

<!-- Dialog Boxes -->
<div id="remove_folder_dialog">
</div>

{% endblock content %}
