{% extends "nexus/nexus_base.html" %}

{% block scripts %}
    {{ block.super }}
    <!-- scripts to prepoulate slugs -->
    <script type="text/JavaScript" src="/static/js/djangoadmin/urlify.js">
    </script>

    <script type="text/JavaScript" src="/static/js/control_panel.js">
    </script>
    <script type="text/JavaScript">
        $(document).ready(function(){
            $('#navbar').tabnav('select', 0);
        });
    </script>
{% endblock scripts %}

{% block content %}
<div class="left">
    <div id="toolbar" class="ui-widget-header ui-corner-all">
        <div id="site_select_wrapper">
            <select id="site_select">
            </select>
        </div>
        <div id="site_toolbar">
            <button id="site_info">Site Info</button>
        </div>
    </div>
    <br/>
    <div id="tree">
    </div>
    <br/>
    <div id="page_types_tree">
    </div>
</div>
<div class="right">
    <div id="toolbar" class="ui-widget-header ui-corner-all">
        <div id="folder_toolbar">
            <button id="add_folder">Add Child Folder</button>
            <button id="add_page">Add Child Page</button>
            <button id="remove_folder_warn">Remove Folder</button>
        </div>
        <div id="metapage_toolbar">
            <button id="remove_page_warn">Remove Page</button>
            <button id="add_translation">Add Translation</button>
        </div>
    </div>
    <div id="node_container">
    </div>
</div>

<!-- Dialog Boxes -->
<div id="remove_folder_dialog">
</div>

<div id="remove_page_dialog">
</div>

<div id="add_folder_dialog">
    <p>
        Enter title and slug for the new sub-folder using the site's default
        language:
    </p>
    <form id="add_folder_form">
        <table class="dialog_form_table">
            <tr>
                <th> <label for="add_folder_title">Title</label> </th>
                <td> 
                    <input type="text" name="title" id="add_folder_title" /> 
                </td>
            </tr>
            <tr>
                <th> <label for="add_folder_slug">Slug</label> </th>
                <td> 
                    <input type="text" name="slug" id="add_folder_slug" /> 
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="add_page_dialog">
    <p>
        Enter title and slug for the new page using the site's default
        language:
    </p>
    <form id="add_page_form">
        <table class="dialog_form_table">
            <tr>
                <th> <label for="add_page_pagetype">Page Type</label> </th>
                <td>
                    <select id="add_page_pagetype">
                    </select>
                </td>
            </tr>
            <tr>
                <th> <label for="add_page_title">Title</label> </th>
                <td> 
                    <input type="text" name="title" id="add_page_title" /> 
                </td>
            </tr>
            <tr>
                <th> <label for="add_page_slug">Slug</label> </th>
                <td> 
                    <input type="text" name="slug" id="add_page_slug"/> 
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}
