<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Admin: {{title}}</title>
    <meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE">
    <script type="text/JavaScript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">
    </script>
    <script type="text/JavaScript" 
        src="/static/js/jquery-ui-1.8.19.custom.min.js">
    </script>
    <link type="text/css" rel="stylesheet" 
        href="/static/css/smoothness/jquery-ui-1.8.19.custom.css" />	

    <script type="text/JavaScript" src="/static/js/yacon/utils.js"></script>
    {% include "nexus/includes/widgets.html" %}

    <!-- nav bar -->
    <script type="text/JavaScript">
        $(document).ready(function(){
            $('#navbar').tabnav();
        });
    </script>

    {% block css %}
    {% endblock css %}
    {% block scripts %}
    {% endblock scripts %}

    <!-- yacon style and scripts -->
    <link rel="stylesheet" type="text/css" href="/static/css/nexus.css"/>
</head>
<body>
    {% block navbar %}
        {% include "nexus/includes/nav.html" %}
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
</body>
</html>
