<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Admin: {{title}}</title>
    <meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE">
    <script type="text/JavaScript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">
    </script>
    <script type="text/JavaScript" 
        src="/static/js/jquery-ui-1.8.19.custom.min.js">
    </script>
    <link type="text/css" rel="stylesheet" 
        href="/static/css/smoothness/jquery-ui-1.8.19.custom.css" />	

    <!-- dynatree -->
    <link type="text/css" rel="stylesheet" 
        href="/static/js/skin/ui.dynatree.css" />	
    <script type="text/JavaScript" src="/static/js/jquery.cookie.js">
    </script>
    <script type="text/JavaScript" src="/static/js/jquery.dynatree.min.js">
    </script>

    <!-- select box -->
    <script type="text/JavaScript" 
        src="/static/js/jquery-ui-selectbox-widget.min.js">
    </script>

    <!-- yacon style and scripts -->
    <link rel="stylesheet" type="text/css" href="/static/css/nexus.css"/>

    {% block css %}
    {% endblock css %}
    {% block scripts %}
    {% endblock scripts %}
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
