<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Admin: {{title}}</title>
    <meta http-equiv="CACHE-CONTROL" CONTENT="NO-CACHE">

    {% block headers %}
        {% comment %}
            Additional headers can go here
        {% endcomment %}
    {% endblock headers %}
</head>
<body>
    <table>
        <tr>
            <td><a href="/yacon/nexus/content_listing">Page Management</a></td>
            <td><a href="">Configuration</a></td>
        </tr>
    </table>
    {% block body %}
    {% endblock body %}
</body>
</html>
