<table>
    <tr>
        <th>Title</th>
        <td>{{page.title}}</td>
    </tr>
    <tr>
        <th>Slug</th>
        <td>{{page.slug}}</td>
    </tr>
    <tr>
        <th>MetaPage Info</th>
        <td>
            <table>
                <tr>
                    <th>MetaPage ID</th>
                    <td>{{metapage.id}}</td>
                </tr>
                <tr>
                    <th>MetaPage Alias ID</th>
                    {% if is_alias %}
                    <td>{{metapage.alias.id}}</td>
                    {% else %}
                    <td><i>Not alias</i></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Node ID</th>
                    <td>{{metapage.node.id}}</td>
                </tr>
                <tr>
                    <th>Page Type</th>
                    <td>{{metapage.page_type.name}}</td>
                </tr>
                <tr>
                    <th>Template</th>
                    <td>{{metapage.page_type.template}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<h2>Blocks</h2>

{% for block in blocks %}
    <table>
        <tr>
            <th>ID</th>
            <td>{{block.id}}</td>
        </tr>
        <tr>
            <th>Key</th>
            <td>{{block.block_type.key}}</td>
        </tr>
        <tr>
            <th>Specifier Name</th>
            <td>{{block.block_type.name}}</td>
        </tr>
        <tr>
            <th>Content Handler</th>
            <td>{{block.block_type.content_handler}}</td>
        </tr>
        <tr>
            <th>Content Handler Parameters</th>
            <td>{{block.block_type.content_handler_parms}}</td>
        </tr>
        <tr>
            <th>Block Parameters</th>
            <td>{{block.parameters}}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{block.content}}</td>
        </tr>
    </table>
    <br/>
{% endfor %}
