/* nexus.css

Stye sheet for Nexus admin area in the Yacon project
*/

/* Two-Column Views */
.right, .left {
    overflow: auto;
    width: 35%;
    height: 100%;
    float: left;
}
.left {
    width: 35%;
}
.right {
    width: 65%;
}

a.selected {
    background-color:#c9c9c9;
}

ul.content_list {
    list-style: none;
}

ul.content_list li {
    list-style: none;
}

table.content_list td, th {
    text-align:left;
}
